<div class="row">
    <h4 class="frame-title">{{msg('evsMbarara')}}&nbsp;-&nbsp;{{msg('evsMbarara.reports')}}</h4>
    <table class="table table-bundles table-bordered table-striped table-lightblue table-condensed">
        <thead>
        <tr>
            <th>{{msg('evsMbarara.reports')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#/evsMbarara/reports/capacityReport">{{msg('evsMbarara.reports.capacityReport')}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
